<div>Welcome to the website that tests how onesignal works</div>
<div style="height: 20px"></div>
<div>Are push notifications supported: {{isSupported}}</div>
<div style="height: 20px"></div>
<div>Subcription status: {{subStatus}}</div>
<div style="height: 20px"></div>
<div style="height: 20px"></div>
<button mat-raised-button (click) = "subToNotifications()">Click to Subscribe</button>
<div style="height: 20px"></div>
<div style="height: 20px"></div>

<div class = "buttons" *ngIf="subStatus">
  <button mat-raised-button (click) = "addNotificationTag('ALL','ALL')">ALL</button>
  <button mat-raised-button (click) = "addNotificationTag('URGENT','URGENT')">URGENT</button>
  <button mat-raised-button (click) = "addNotificationTag('FEATURE','FEATURE')">FEATURE</button>
</div>
<div *ngIf="subFailed">Subscription has failed</div>